#
# Systemd service to show live training notes
#
# Runs on port 8000 of the node.
#
[Unit]
Description=Training Live Notes
After=multi-user.target

[Service]
User=jupyter-vikrant
Group=jupyter-vikrant
Type=simple
Restart=always
WorkingDirectory=/opt/training
ExecStart=quarto preview --port 4444

[Install]
WantedBy=multi-user.target
